In [1]:
import pandas as pd

In [2]:
DATAFILE = 'datasets/portland-housing/ex1data2.txt'

In [3]:
dataframe = pd.read_csv(DATAFILE, \
                        sep=',', \
                        names=['Size of the house (in square feet)', 'Number of bedrooms', 'Price'])

In [4]:
dataframe.head()

   Size of the house (in square feet)  Number of bedrooms   Price
0                                2104                   3  399900
1                                1600                   3  329900
2                                2400                   3  369000
3                                1416                   2  232000
4                                3000                   4  539900